html{
    background-color: rgba(127, 255, 212, 0.493);
}

.social-landing-title{
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 1px rgba(128, 128, 128, 0.767);
    font-size: 80px;
}

.Button{
    color: white;
    border-color:white;
    font-family: 'Didot, serif'
}

.social-button{
    color: 'black';
}
